.todo-widget {
  .alert {
    margin-bottom: 0;
  }

  .checkbox {
    margin: 0px;
  }

  label {
    display: block;
  }

  ul {
    margin-bottom: 0px;
  }

  .btn-round {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
}
