<div class="container-fluid m-v-15">
  <div class="pull-right m-r-10">
    <button type="button" class="close" onclick="$hide()">×</button>
  </div>

  <h4 class="no-margin p-t-5"><i class="md md-filter"></i> Theming options</h4>

  <div class="row m-t-20">
    <div class="col-md-6">
      <div class="w300">Template themes</div>

      <div class="theme-item theme-template-default" onclick="changeTemplateTheme('theme-template-default');">
        <div class="icon hide"><i class="md md-check"></i></div>
        <div class="theme-sidenav"></div>
        <div class="theme-header"></div>
        <div class="theme-body"></div>
      </div>

      <div class="theme-item theme-template-dark" onclick="changeTemplateTheme('theme-template-dark');">
        <div class="icon"><i class="md md-check"></i></div>
        <div class="theme-sidenav"></div>
        <div class="theme-header"></div>
        <div class="theme-body"></div>
      </div>

      <div class="theme-item theme-template-light" onclick="changeTemplateTheme('theme-template-light');">
        <div class="icon hide"><i class="md md-check"></i></div>
        <div class="theme-sidenav"></div>
        <div class="theme-header"></div>
        <div class="theme-body"></div>
      </div>

      <div class="theme-item theme-template-green" onclick="changeTemplateTheme('theme-template-green');">
        <div class="icon hide"><i class="md md-check"></i></div>
        <div class="theme-sidenav"></div>
        <div class="theme-header"></div>
        <div class="theme-body"></div>
      </div>

      <div class="theme-item theme-template-blue" onclick="changeTemplateTheme('theme-template-blue');">
        <div class="icon hide"><i class="md md-check"></i></div>
        <div class="theme-sidenav"></div>
        <div class="theme-header"></div>
        <div class="theme-body"></div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="w300">Color themes</div>

      <div class="row gutter-10">
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-pink" onclick="changeColorTheme('theme-pink');">
            <div class="icon"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-red" onclick="changeColorTheme('theme-red');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-purple" onclick="changeColorTheme('theme-purple');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-indigo" onclick="changeColorTheme('theme-indigo');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-blue" onclick="changeColorTheme('theme-blue');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-light-blue" onclick="changeColorTheme('theme-light-blue');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-cyan" onclick="changeColorTheme('theme-cyan');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-teal" onclick="changeColorTheme('theme-teal');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-green" onclick="changeColorTheme('theme-green');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-light-green" onclick="changeColorTheme('theme-light-green');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-lime" onclick="changeColorTheme('theme-lime');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-yellow" onclick="changeColorTheme('theme-yellow');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-amber" onclick="changeColorTheme('theme-amber');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-orange" onclick="changeColorTheme('theme-orange');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 theme-colors ng-scope">
          <div class="theme-item theme-deep-orange" onclick="changeColorTheme('theme-deep-orange');">
            <div class="icon hide"><i class="md md-check"></i></div>
            <div class="theme-color-1"></div>
            <div class="theme-color-2"></div>
            <div class="theme-color-3"></div>
            <div class="theme-color-4"></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>