.dynamic-color > div > div {
  width:100%;
  height:33px;
  padding: 5px 20px;
  cursor: pointer;

  @include transition(all 0.1s);
  @include scale(1);

  &:hover {
    @include scale(1.05);
  }
}


.dynamic-color > div {
  margin-bottom:40px;
}

