.grids [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  border: 1px solid #DDD;
  margin-bottom: 5px;
}

.grids .row {
  margin:0px;
}

.grids h5 {
  margin-top:60px;
}