<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownListExample">
  <li role="presentation" class="dropdown-header"><i class="md md-desktop-mac"></i> Welcome</li>
  <li role="presentation"><a role="menuitem" href="" ng-click="showIntroduction();"><i class="md md-help"></i> Show introduction</a></li>

  <div class="p-10">
    <div class="w300">
      <div class="pull-right"><div class="f9 grey-text m-r-5 p-t-5">55</div></div>
      New customers
    </div>
    <div class="progress m-b-10">
      <div class="progress-bar progress-bar-info" style="width: 60%;"></div>
    </div>
    <div class="w300">
      <div class="pull-right"><div class="f9 grey-text m-r-5 p-t-5">34</div></div>
      Messages
    </div>
    <div class="progress m-b-10">
      <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
    </div>
    <div class="w300">
      <div class="pull-right"><div class="f9 grey-text m-r-5 p-t-5">21</div></div>
      Revenue
    </div>
    <div class="progress m-b-5">
      <div class="progress-bar progress-bar-warning" style="width: 40%;"></div>
    </div>
  </div>
</ul>

